spring:
  application:
  name: delivery_app

---
spring:
  datasource:
    url: jdbc:mysql://${DB_URL}/delivery
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      encoding: UTF-8

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        #show_sql: true
        format_sql: true
        connection:
          CharSet: utf-8
          characterEncoding: utf-8
          useUnicode: true
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB


cloud:
  aws:
    s3:
      bucket: b2-delivery-app
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    stack:
      auto: false

logging.level:
  root: info

---

jwt:
  secret-key: ${JWT_SECRET_KEY}